.selectRegion {
  padding: .5rem 1rem;
  margin: 0 1rem 2rem 1rem;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .1);
  border: none;
  height: min-content;
}

.option {
  padding: .3rem 1rem;
}

@media screen and (min-width: 750px) {
  .selectRegion {
    margin: 0;
  }
}