.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgb(197, 193, 193) ;
}

.title-header {
  font-size: 1em;
  font-weight: 800;
}

.subtitle-header {
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-size: .7em;
}